[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
django-ckeditor = "*"
django-filter = "*"
django-rest-knox = "*"
gunicorn = "*"
django-mptt = "*"
django-forestadmin = "*"
django-countries = "*"
django-cors-headers = "*"
psycopg2 = "*"
django-environ = "*"
environs = {extras = ["django"], version = "*"}
psycopg2-binary = "*"
whitenoise = "*"
djangorestframework-simplejwt = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
pyjwt = "*"
python-decouple = "*"
django-jazzmin = "*"
clickuz = "*"

[dev-packages]

[requires]
python_version = "3.10"
